@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  outline: none; }

.container {
  width: 1050px;
  margin: 0 auto; }

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 10;

  border-bottom: solid #F0F0F0 1px;
  padding: 15px 0; 
  margin-bottom: 70px;}

  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
     }
  .header_logo img{
    vertical-align: middle;}
  .search_input {
    width: 200px;
    padding: 7px 15px;
    border-style: none;
    background-color: #F5F5F5;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    font-weight: 400; 
	transition: background-color 0.1s ease;}
  .search_input:focus{
  	background-color: #E5E5E5;}
  .search_btn {
    margin-left: 15px;
    border-style: none;
    background-color: #fff;
    cursor: pointer; }
  .search_btn img {
    vertical-align: middle; }

main {
  margin-top: 120px;
  margin-bottom: 120px;}

  .topic_title {
    display: flex;
    font-size: 40px;
    margin-bottom: 35px;
    align-items: baseline; }
  .topic_title p {
      font-size: 30px; }
  .feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .article_card {
    position: relative;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px; }
  .article_img {
    width: 500px;
    height: 300px;
    object-fit: cover;}
  .article_info {
    padding: 40px 20px;
    color: black;
    transition: color 0.1s ease; }
  .article_info:hover {
      color: #1BD8CC; }
  .article_title {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 700; }
  .article_description {
    line-height: 1.5;
    font-size: 15px; }


   .article_card:nth-child(1){
    	flex-direction: row;
    	width: 100%}
   .article_card:nth-child(1) .article_img {
    	width: 625px;
    	height: 370px;}
   .article_card:nth-child(1) .article_info {
    	width: 420px;
    	padding: 50px 40px;}
   .article_card:nth-child(1) .article_title {
    	font-size: 23px;}
   .article_card:nth-child(1) .article_description {
    	font-size: 15px;}

footer {
  margin-top: auto;
  background-color: #000;
  padding: 10px 0;
  text-align: center;
  color: #fff; }
  footer .container {
    justify-content: center;
    display: flex; }
  .footer_info {
    font-size: 15px;}
  

.post_detail {
  display: flex;
  flex-direction: column;
  width: 900px;
  margin: 0 auto; }
  .pd_info {
    display: flex;
    flex-direction: column; }


  .pd_title {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 700; }
  .pd_description {
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: ;
    line-height: 1.5; }
  .pd_img {
    width: 900px;
    height: 500px;
    margin-bottom: 80px;
    object-fit: cover; }
  .pd_content {
    font-size: 20px;
    font-weight: ;
    line-height: 1.5; }


@media screen and (max-width: 1200px){
	.container {
		width: 960px;}
	.article_card:nth-child(1) .article_img {
		width: 545px;
		height: 340px;}
   	.article_card:nth-child(1) .article_info {
    	width: 420px;
    	padding: 40px 35px;}
	.article_img {
    	width: 460px;
    	height: 280px;}
    .article_card{
    	width: 460px;
    }
    .post_detail {
    	width: 780px;}
    .pd_img{
    	width: 780px;
    	height: 440px;}



}
@media screen and (max-width: 990px){
	.container {
		width: 720px;}
	.article_card:nth-child(n){
		display: flex;
		width: 100%;
		flex-direction: column;
		margin-bottom: 50px;}
	.article_card:nth-child(n) .article_img{
		width: 100%;
		height: 300px;}
	.article_card:nth-child(n) .article_info{
		padding: 40px 30px;
		width: 100%;}
	.article_card:nth-child(n) .article_title{
		font-size: 23px;}
	.article_card:nth-child(n) .article_description{
		font-size: 15px;}

    .post_detail {
    	width: 100%;}
    .pd_img{
    	width: 720px;
    	height: 440px;}
}
@media screen and (max-width: 767px){
	.container {
		width: 100%;}
	header .container {
		padding: 0 30px;}
	.article_card:nth-child(n) .article_img{
		width: 100%;
		height: 300px;
		padding: 0 30px;}
	.article_card:nth-child(n) .article_info{
		padding: 30px 40px;
		width: 100%;}
	.search_input {
		width: 150px;}
	.header_logo img {
		width: 200px;}


  .pd_title {
  		padding: 0 40px;
	    margin-bottom: 40px;
	    font-size: 26px;}
  .pd_description {
  		padding: 0 40px;
	    margin-bottom: 60px;
	    font-size: 18px;}
  .pd_img {
  		padding: 0 30px;
	    width: 100%;
	    height: 300px;
	    margin-bottom: 80px;}
  .pd_content {
		padding: 0 40px;
		font-size: 18px;}



}
@media screen and (max-width: 576px){
	.article_card:nth-child(n) .article_img{
		height: 200px;
		padding: 0 30px;}
	.article_card:nth-child(n) .article_title{
		font-size: 18px;}
	.article_card:nth-child(n) .article_description{
		font-size: 12px;}	
	.header_logo img {
		width: 150px;}
	.search_input {
		width: 100px;}
	main {
		margin-top: 100px;}

  .pd_title {
  		padding: 0 40px;
	    margin-bottom: 40px;
	    font-size: 20px;}
  .pd_description {
  		padding: 0 40px;
	    margin-bottom: 60px;
	    font-size: 16px;}
  .pd_img {
  		padding: 0 30px;
	    width: 100%;
	    height: 200px;
	    margin-bottom: 80px;}
  .pd_content {
		padding: 0 40px;
		font-size: 16px;}
}
@media screen and (max-width: 400px){
	.article_card:nth-child(n) .article_description{
		display: none;}
	.article_card:nth-child(n){
		margin-bottom: 20px;}
	.article_card:nth-child(n) .article_info{
		padding: 20px 40px;}

	.search_input {
		padding: 5px 12px;
		width: 90px;}
	.search_btn {
   		margin-left: 8px;}

  .pd_title {
  		padding: 0 40px;
	    margin-bottom: 30px;
	    font-size: 18px;}
  .pd_description {
  		padding: 0 40px;
	    margin-bottom: 50px;
	    font-size: 14px;}
  .pd_img {
  		padding: 0 30px;
	    width: 100%;
	    height: 200px;
	    margin-bottom: 50px;}
  .pd_content {
		padding: 0 40px;
		font-size: 14px;}
}